<div class="row top">
  @if (!isAuthed) {
  <div class="button-container">
    <button
      mat-fab
      extended
      class="login-button"
      (click)="login()"
      matTooltip="Login (Google)"
    >
      <mat-icon>login</mat-icon>
      Login
    </button>
  </div>
  } @if (isAuthed) {
  <div class="button-container">
    <button
      mat-fab
      extended
      class="login-button"
      (click)="logout()"
      matTooltip="Logout"
    >
      <mat-icon>logout</mat-icon>
      <span class="no-wrap">Log Out</span>
    </button>
  </div>
  }

  <div class="char-select-container">
    <mat-form-field appearance="fill" class="charName">
      <mat-label>Character Name</mat-label>
      <mat-select
        [(ngModel)]="internalSelectedCharacter"
        (selectionChange)="onCharacterSelection($event.value)"
        [disabled]="isCreatingNewCharacter()"
      >
        @for (name of savedCharacterNames(); track name) {
        <mat-option [value]="name">
          {{ name }}
        </mat-option>
        }
        <mat-option value="new">New Character</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      color="warn"
      class="delete-icon"
      [disabled]="
        !internalSelectedCharacter ||
        internalSelectedCharacter === 'new' ||
        isCreatingNewCharacter()
      "
      (click)="onDeleteClicked()"
      [attr.aria-label]="'delete character ' + internalSelectedCharacter"
    >
      <mat-icon matTooltip="Delete Character">delete</mat-icon>
    </button>
  </div>

  <div class="longRest">
    <div class="long-rest-toggle">
      <mat-slide-toggle
        [(ngModel)]="internalFullHeal"
        (change)="onFullHealToggleChanged()"
        [attr.aria-label]="'long rest heals'"
        >LR Heals</mat-slide-toggle
      >
    </div>
  </div>

  <div class="rest-buttons">
    <div class="button-container">
      <button
        mat-fab
        extended
        class="rest-button"
        (click)="emitLongRest()"
        matTooltip="Long Rest"
      >
        <mat-icon class="longRest">bedtime</mat-icon>
        LR
      </button>
    </div>
    <div class="button-container">
      <button
        mat-fab
        extended
        class="rest-button"
        (click)="emitShortRest()"
        matTooltip="Short Rest"
      >
        <mat-icon>snooze</mat-icon>
        SR
      </button>
    </div>
  </div>
</div>

<div class="row class-level-row">
  <mat-form-field
    class="class-select"
    appearance="fill"
    subscriptSizing="dynamic"
  >
    <mat-label>Character Class</mat-label>
    <mat-select
      [(ngModel)]="character().class"
      (selectionChange)="onClassSelection($event.value)"
      [disabled]="isCreatingNewCharacter()"
    >
      @for (c of classes(); track c) {
      <mat-option [value]="c">{{ c }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="classLevel" subscriptSizing="dynamic">
    <mat-label>Character Level</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="character().level"
      min="1"
      max="20"
      placeholder="Enter Level"
      (change)="onLevelChange()"
      (blur)="onLevelChange()"
      [disabled]="isCreatingNewCharacter()"
      [attr.aria-label]="'character level for ' + character().name"
    />
  </mat-form-field>
</div>
