<div mat-card>
  <div class="stat-box" [class.disabled]="isCreatingNewCharacter()">
    <div class="stat-label">Hit Dice</div>
    <div class="stat-value">{{ character().hitDie }}</div>
    <div class="stat-buttons">
      <button
        mat-mini-button
        class="sub"
        (click)="decHitDie()"
        [disabled]="isCreatingNewCharacter() || character().hitDie <= 0"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button
        mat-mini-button
        class="add"
        (click)="incHitDie()"
        [disabled]="isCreatingNewCharacter() || character().hitDie >= character().level"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>