<div class="card-title" i18n>Death Saves</div>

<div class="death-save-row">
  <div class="death-save-labels">
    <span i18n>Successes</span>
    <span i18n>Failures</span>
  </div>

  <div class="death-save-buttons">
    <div class="death-save-group">
      @for (s of [0, 1, 2]; track s) {
      <button
        class="success"
        mat-icon-button
        (click)="toggleDeathSave('success', s)"
        [attr.aria-label]="'toggle death save success ' + s"
        i18n-aria-label
      >
        <mat-icon [class]="deathSaveSuccess[s] ? 'checked' : 'unchecked'">
          {{ deathSaveSuccess[s] ? "check_circle" : "radio_button_unchecked" }}
        </mat-icon>
      </button>
      }
    </div>

    <div class="death-save-group">
      @for (f of [0, 1, 2]; track f) {
      <button
        class="failure"
        mat-icon-button
        [class.active-failure]="deathSaveFailure[f]"
        (click)="toggleDeathSave('failure', f)"
        [attr.aria-label]="'toggle death save failure ' + f"
        i18n-aria-label
      >
        <mat-icon [class]="deathSaveFailure[f] ? 'checked' : 'unchecked'">
          {{ deathSaveFailure[f] ? "cancel" : "radio_button_unchecked" }}
        </mat-icon>
      </button>
      }
    </div>
  </div>
</div>
