<mat-card-content>
  <div class="resources">
    @for (record of localResources; track $index) {
    <div class="resource-row">
      <div class="stat-box resource-stat">
        <div class="stat-label">
          @if (editingResourceNameId === $index) {
            <mat-form-field class="resource-name-inline">
              <input
                matInput
                #nameInput
                type="text"
                maxlength="15"
                [(ngModel)]="record.name"
                placeholder="Resource"
                [disabled]="isCreatingNewCharacter()"
                (blur)="onNameBlur($index)"
                (keydown.enter)="onNameBlur($index)"
                [attr.aria-label]="'resource name ' + record.id + ' for ' + character().name"
              />
            </mat-form-field>
          } @else {
            {{ record.name || 'Resource' }}
          }
        </div>
        <div class="stat-value">
          @if (editingResourceNameId === $index) {
            <mat-form-field>
              <input
                matInput
                type="number"
                [(ngModel)]="record.value"
                placeholder="Value"
                [disabled]="isCreatingNewCharacter()"
                (blur)="onValueBlur($index)"
                (keydown.enter)="onValueBlur($index)"
                [attr.aria-label]="'resource value ' + record.name"
              />
            </mat-form-field>
          } @else {
            <span [attr.aria-label]="'resource value for ' + record.name">
              {{ record.value }}
            </span>
          }
        </div>
        <div class="stat-buttons">
          <button
            mat-mini-button
            class="sub"
            (click)="adjustResource($index, -1)"
            [disabled]="isCreatingNewCharacter()"
            matTooltip="Subtract"
            [attr.aria-label]="'subtract from ' + record.name"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-button
            class="add"
            (click)="adjustResource($index, 1)"
            [disabled]="isCreatingNewCharacter()"
            matTooltip="Add"
            [attr.aria-label]="'add to ' + record.name"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="resource-actions">
          <button
            mat-icon-button
            type="button"
            (click)="startEditingResourceName($index)"
            [disabled]="isCreatingNewCharacter()"
            [attr.aria-label]="'edit resource name for ' + record.name"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            type="button"
            (click)="removeResource($index)"
            [disabled]="isCreatingNewCharacter()"
            [attr.aria-label]="'remove resource ' + record.name"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="add-resource-row">
    <button mat-flat-button class="add-resource" type="button" (click)="addResource()" [disabled]="isCreatingNewCharacter()">
      <mat-icon>add</mat-icon>
      Add Resource
    </button>
  </div>
</mat-card-content>
