.resources {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 8px;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-items: center;
}
.resources > * {
  min-width: 90px;
  box-sizing: border-box;
  width: 100%;
  max-width: 160px;
}
.resource-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field.resource-name {
  height: 50px;
}
@media (max-width: 700px) {
  .resources {
    grid-template-columns: repeat(2, 1fr);
  }
}
