<div mat-card>
  <mat-card-title class="card-title" style="font-size: x-large"
    >Spell Slots</mat-card-title
  >
  <div class="spellSlots">
    @for (slot of slots; track $index) { @if (slot > 0) {
    <div class="stat-box" [class.disabled]="isCreatingNewCharacter()">
      <div class="stat-label">Level {{ $index + 1 }}</div>
      <div class="stat-value">{{ remaining[$index] }}</div>
      <div class="stat-buttons">
        <button
          mat-mini-button
          class="sub"
          (click)="decSlot($index)"
          [disabled]="isCreatingNewCharacter()"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-mini-button
          class="add"
          (click)="incSlot($index)"
          [disabled]="isCreatingNewCharacter()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    } }
  </div>
</div>
