<mat-card-content>
  <div class="money-flex">
    <mat-form-field appearance="fill" class="money-input">
      <mat-label i18n>Coin +/-</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="moneyDelta"
        class="money-input"
        (focus)="selectMoneyInput($event)"
        [disabled]="isCreatingNewCharacter()"
        [attr.aria-label]="'coin delta for ' + character().name"
        i18n-aria-label
      />
    </mat-form-field>

    <div class="money-display-stack">
      @for (coin of coins; track coin.key) {
      <div class="stat-box" [class.disabled]="isCreatingNewCharacter()">
        <div class="stat-label">{{ coin.label }}</div>
        <div
          class="stat-value"
          [attr.aria-label]="coin.aria + ' for ' + character().name"
          i18n-aria-label
        >
          {{ getCoinValue(coin.key) }}
        </div>
        <div class="stat-buttons">
          <button
            mat-mini-button
            class="sub"
            (click)="adjustMoney(coin.key, -(moneyDelta || 1))"
            [disabled]="isCreatingNewCharacter()"
            matTooltip="Subtract"
            i18n-matTooltip
            [attr.aria-label]="
              'subtract ' + coin.aria + ' from ' + character().name
            "
            i18n-aria-label
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-mini-button
            class="add"
            (click)="adjustMoney(coin.key, moneyDelta || 1)"
            [disabled]="isCreatingNewCharacter()"
            matTooltip="Add"
            i18n-matTooltip
            [attr.aria-label]="'add ' + coin.aria + ' to ' + character().name"
            i18n-aria-label
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</mat-card-content>
