.money-flex {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.money-input {
  flex: none;
  min-width: 90px;
  max-width: 110px;
  width: 100px;
  z-index: 2;
}
.money-display-stack {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
