mat-form-field {
  flex: 1;
}

/* Make body buttons shorter (applies to mat-stroked-button) */
:host ::ng-deep .body-buttons .mat-mdc-outlined-button {
  padding: 0 10px;
}

.save-button,
.cancel-button {
  margin-left: 20px;
}

mat-button-toggle-group {
  margin-bottom: 10px;
}

.money-row.disabled {
  opacity: 0.6;
  pointer-events: none;
}
