<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div mat-card class="card-container">
  <div>
    <mat-card-title class="card-title">Hit Points</mat-card-title>
  </div>
  <mat-card-content>
    <table class="black-bordered-table">
      <tr>
        <td>Current HP</td>
        <td>
          <tr class="maxHP">
          <td>Max HP</td>
          <button class="edit" mat-fab extended (click)="editMaxHP()">
            <span class="material-symbols-outlined">edit</span>
          </button>
        </tr>
        </td>
        <td>% of Max</td>
      </tr>
      <tr>
        <td>{{ character.currentHP }}</td>
        <td>
          <!-- Conditionally render input or plain text -->
          <ng-container *ngIf="isEditingMaxHP; else displayMaxHP">
            <input
              matInput
              type="number"
              [(ngModel)]="character.maxHP"
              class="hp-input"
              placeholder="Enter Max HP"
              (keydown.enter)="onEnterMaxHP()"
            />
          </ng-container>
          <ng-template #displayMaxHP>
            {{ character.maxHP }}
          </ng-template>
        </td>
        <td>{{ percentHP }}%</td>
      </tr>
    </table>
    <div>
      <mat-form-field appearance="fill" class="HPInput">
        <input matInput placeholder="HP to +/-" type="number" [(ngModel)]="changeVal" class="hp-input" />
      </mat-form-field>
    </div>

<mat-card-footer>
  <span class="button-container">
    <button mat-fab extended class="hurt-button" (click)="hurt()">
      <span class="material-symbols-outlined">remove</span>
      Hurt
    </button>
  </span>
  <span class="button-container">
    <button mat-fab extended class="heal-button" (click)="heal()">
      <span class="material-symbols-outlined">add</span>
      Heal
    </button>
  </span>
</mat-card-footer>
</mat-card-content>
</div>
<router-outlet />
