<div mat-card>
  <div class="stat-box" [class.disabled]="isCreatingNewCharacter()">
    <div class="stat-label">Wild Shape</div>
    <div class="stat-value">{{ wildShapeRemaining }}</div>
    <div class="stat-buttons">
      <button
        mat-mini-button
        class="sub"
        (click)="decWildShape()"
        [disabled]="isCreatingNewCharacter()"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button
        mat-mini-button
        class="add"
        (click)="incWildShape()"
        [disabled]="isCreatingNewCharacter()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
