<div mat-card>
  <mat-card-title class="card-title" style="font-size: x-large" i18n
    >Rage</mat-card-title
  >
  <br />
  <mat-form-field appearance="fill" class="classData-input">
    <input
      matInput
      type="number"
      min="0"
      [max]="character().rage"
      [(ngModel)]="rageRemaining"
      class="classData-input"
      (ngModelChange)="onRageChange()"
      [disabled]="isCreatingNewCharacter()"
      [attr.aria-label]="'rages for ' + character().name"
      i18n-aria-label
    />
  </mat-form-field>
</div>
