.language-button-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end; /* Move button to the right */
  width: 575px;
}

.language-button {
  background: linear-gradient(to bottom, yellow, lightyellow);
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  color: blue;
  min-width: 68px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Goudy Bookletter 1911", serif;
  text-decoration: none;
}
