<div mat-card>
  <div class="stat-box" [class.disabled]="isCreatingNewCharacter()">
    <div class="stat-label">Ki Points</div>
    <div class="stat-value">{{ character().kiPoints || 0 }}</div>
    <div class="stat-buttons">
      <button
        mat-mini-button
        class="sub"
        (click)="decKi()"
        [disabled]="isCreatingNewCharacter()"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button
        mat-mini-button
        class="add"
        (click)="incKi()"
        [disabled]="isCreatingNewCharacter()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
